<template>
	<div id="nuage-de-mots">
		<div id="question">
			<div class="question-et-support" v-if="question !== '' && Object.keys(support).length > 0">
				<span class="question" v-html="verifierLien(question)" />

				<span class="support" role="button" :tabindex="definirTabIndex()" v-if="support.lien && support.lien !== ''" @click="afficherMedia($event, support.lien, 'video')" @keydown.enter="afficherMedia($event, support.lien, 'video')" :title="$t('afficherSupport')"><img :src="support.vignette" :alt="support.vignette"></span>
				<span class="support" role="button" :tabindex="definirTabIndex()" v-else-if="support.fichier && support.fichier !== '' && support.type === 'image'" @click="afficherMedia($event, '/fichiers/' + code + '/' + support.fichier, 'image')" @keydown.enter="afficherMedia($event, '/fichiers/' + code + '/' + support.fichier, 'image')" :title="$t('afficherSupport')"><img :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt"></span>
				<span class="support" role="button" :tabindex="definirTabIndex()" v-else-if="support.fichier && support.fichier !== '' && support.type === 'audio'" @click="afficherMedia($event, '/fichiers/' + code + '/' + support.fichier, 'audio')" @keydown.enter="afficherMedia($event, '/fichiers/' + code + '/' + support.fichier, 'audio')" :title="$t('afficherSupport')"><span><i class="material-icons">audiotrack</i></span></span>
			</div>
			<div class="question" v-else-if="question !== ''" v-html="verifierLien(question)" />
			<div class="support seul" v-else-if="Object.keys(support).length > 0">
				<img role="button" :tabindex="definirTabIndex()" :src="support.vignette" :alt="support.vignette" v-if="support.lien && support.lien !== ''" @click="afficherMedia($event, support.lien, 'video')" @keydown.enter="afficherMedia($event, support.lien, 'video')" :title="$t('afficherSupport')">
				<img role="button" :tabindex="definirTabIndex()" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt" v-else-if="support.fichier && support.fichier !== '' && support.type === 'image'" @click="afficherMedia($event, '/fichiers/' + code + '/' + support.fichier, 'image')" @keydown.enter="afficherMedia($event, '/fichiers/' + code + '/' + support.fichier, 'image')" :title="$t('afficherSupport')">
				<audio v-else-if="support.fichier && support.fichier !== '' && support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
			</div>
		</div>

		<div id="conteneur-nuage" :style="{'top': hauteurQuestion + 'px', 'height': hauteurConteneur + 'px'}">
			<vue-word-cloud :animation-duration="350" animation-easing="ease-in-out" :animation-overlap="1" color="#00ced1" font-family="HKGrotesk-Black" :spacing="1/2" :words="mots" @update:progress="modifierProgression">
				<template v-slot="{text, weight, word}">
					<div role="button" :tabindex="definirTabIndex()" :title="text + ' (' + weight + ')'" style="cursor: pointer;" @click="afficherMot(word)" @keydown.enter="afficherMot(word)">
						{{ text }}
					</div>
				</template>
			</vue-word-cloud>
		</div>

		<div class="conteneur-modale" v-if="modale === 'media'">
			<div id="modale-media" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<img v-if="media.type === 'image'" :src="media.fichier" :alt="media.fichier">
						<audio v-else-if="media.type === 'audio'" controls :src="media.fichier" />
						<div class="video" v-else-if="media.type === 'video'">
							<iframe :src="media.lien" allow="autoplay; fullscreen" />
						</div>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleMedia" @keydown.enter="fermerModaleMedia">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'mot'">
			<div id="modale-mot" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<p :style="{'color': mot.color}">{{ mot.text }}</p>
						<div class="actions">
							<input type="color" :value="mot.color" @change="modifierCouleurMot">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="supprimerMot" @keydown.enter="supprimerMot">{{ $t('supprimer') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleMot" @keydown.enter="fermerModaleMot">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<Chargement v-if="chargement" />
	</div>
</template>

<script>
import linkifyHtml from 'linkify-html'
import latinise from 'voca/latinise'
import imagesLoaded from 'imagesloaded'
import Chargement from '#root/components/chargement.vue'
import VueWordCloud from '#root/components/js/wordcloud'

export default {
	name: 'NuageMotsAfficher',
	components: {
		Chargement,
		[VueWordCloud.name]: VueWordCloud
	},
	props: {
		hote: String,
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		session: Number
	},
	data () {
		return {
			chargement: false,
			question: '',
			support: {},
			options: {},
			modale: '',
			media: {},
			mots: [],
			mot: '',
			progression: '',
			hauteurQuestion: 0,
			hauteurConteneur: 0,
			elementPrecedent: null
		}
	},
	watch: {
		reponses: {
			handler () {
				this.definirMots()
			},
			deep: true
		},
		progression: function (progression) {
			if (progression === '' || progression === null) {
				this.chargement = true
				setTimeout(function () {
					this.chargement = false
				}.bind(this), 350)
			} else {
				setTimeout(function () {
					this.chargement = false
				}.bind(this), 350)
			}
		}
	},
	created () {
		this.question = this.donnees.question
		this.support = this.donnees.support
		if (this.donnees.hasOwnProperty('options')) {
			this.options = this.donnees.options
		}
		this.definirMots()
	},
	mounted () {
		imagesLoaded('#question', function () {
			this.$nextTick(function () {
				window.MathJax.typeset()
				this.$nextTick(function () {
					this.verifierConteneur()
				}.bind(this))
			}.bind(this))
		}.bind(this))

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', this.verifierConteneur, false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirTabIndex () {
			return this.$parent.modale === '' && this.$parent.message === '' && this.$parent.modaleConfirmation === '' && this.modale === '' ? 0 : -1
		},
		definirMots () {
			const mots = []
			this.reponses.forEach(function (item) {
				if (item.reponse.visible && (Object.keys(this.options).length === 0 || (this.options.hasOwnProperty('casse') && this.options.casse === 'non'))) {
					if (mots.map(mot => mot.text).includes(item.reponse.texte) === true) {
						mots.forEach(function (mot, indexMot) {
							if (mot.text === item.reponse.texte) {
								mots[indexMot].weight = mot.weight + 1
							}
						})
					} else {
						const id = Math.random().toString(16).slice(3)
						mots.push({ id: id, text: item.reponse.texte, weight: 1, number: 1, rotation: 0, fontFamily: 'HKGrotesk-Black', color: item.reponse.couleur })
					}
				} else if (item.reponse.visible && this.options.hasOwnProperty('casse') && this.options.casse === 'oui') {
					if (mots.map(mot => latinise(mot.text.toLowerCase())).includes(latinise(item.reponse.texte.toLowerCase())) === true) {
						mots.forEach(function (mot, indexMot) {
							if (latinise(mot.text.toLowerCase()) === latinise(item.reponse.texte.toLowerCase())) {
								mots[indexMot].weight = mot.weight + 1
							}
						})
					} else {
						const id = Math.random().toString(16).slice(3)
						mots.push({ id: id, text: item.reponse.texte, weight: 1, number: 1, rotation: 0, fontFamily: 'HKGrotesk-Black', color: item.reponse.couleur })
					}
				}
			}.bind(this))
			this.mots = mots
		},
		modifierProgression (progression) {
			this.progression = progression
		},
		afficherMot (mot) {
			let taille = 40
			if (window.innerWidth < 400) {
				taille = 25
			} else if (window.innerWidth > 399 && window.innerWidth < 599) {
				taille = 32
			}
			this.mot = mot
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'mot'
			this.$emit('modale', true)
			this.$nextTick(function () {
				fitty('#modale-mot p', {
					minSize: taille,
					maxSize: 200,
					multiLine: true
				})
				document.querySelector('.modale .bouton:last-of-type').focus()
			})
		},
		modifierCouleurMot (event) {
			const couleur = event.target.value
			const id = this.mot.id
			this.mots.forEach(function (mot, index) {
				if (mot.id === id) {
					this.mots[index].color = couleur
				}
			}.bind(this))
			this.$socket.emit('modifiercouleurmot', { code: this.code, session: this.session, mot: this.mot.text, couleur: couleur })
		},
		supprimerMot () {
			if (Object.keys(this.options).length === 0 || (this.options.hasOwnProperty('casse') && this.options.casse === 'non')) {
				const id = this.mot.id
				this.mots.forEach(function (mot, index) {
					if (mot.id === id) {
						this.mots.splice(index, 1)
					}
				}.bind(this))
				this.$socket.emit('supprimermot', { code: this.code, session: this.session, mot: this.mot.text })
			} else if (this.options.hasOwnProperty('casse') && this.options.casse === 'oui') {
				const mots = []
				const texte = latinise(this.mot.text.toLowerCase())
				const id = this.mot.id
				this.reponses.forEach(function (item) {
					if (latinise(item.reponse.texte.toLowerCase()) === texte) {
						mots.push(item.reponse.texte)
					}
				})
				this.mots.forEach(function (mot, index) {
					if (mot.id === id) {
						this.mots.splice(index, 1)
					}
				}.bind(this))
				this.$socket.emit('supprimermots', { code: this.code, session: this.session, mots: mots })
			}
			this.fermerModaleMot()
		},
		fermerModaleMot () {
			this.modale = ''
			this.mot = ''
			this.$emit('modale', false)
			this.gererFocus()
		},
		afficherMedia (event, media, type) {
			event.preventDefault()
			event.stopPropagation()
			if (type === 'video') {
				this.media = { lien: media, type: type }
			} else {
				this.media = { fichier: media, type: type }
			}
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'media'
			this.$emit('modale', true)
			this.$nextTick(function () {
				document.querySelector('.modale .bouton').focus()
			})
		},
		fermerModaleMedia () {
			this.modale = ''
			this.media = {}
			this.$emit('modale', false)
			this.gererFocus()
		},
		verifierConteneur () {
			const hauteurConteneur = document.querySelector('#conteneur').offsetHeight - (document.querySelector('#question').offsetHeight + 80)
			const hauteurQuestion = document.querySelector('#question').offsetHeight + 80
			this.hauteurConteneur = hauteurConteneur
			this.hauteurQuestion = hauteurQuestion
		},
		verifierLien (item) {
			let html = ''
			if (item !== '') {
				html = linkifyHtml(item, {
					defaultProtocol: 'https',
					target: '_blank'
				})
			}
			return html
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.modale === 'mot') {
				this.fermerModaleMot()
			} else if (event.key === 'Escape' && this.modale === 'media') {
				this.fermerModaleMedia()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.modale = ''
				this.$emit('modale', false)
				this.gererFocus()
			}
		}
	}
}
</script>

<style scoped src="#root/components/css/style-afficher.css"></style>

<style scoped>
#conteneur-nuage {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

#modale-media img {
	max-height: calc(90vh - 100px);
}

#modale-mot  {
	text-align: center;
	max-width: 984px;
}

#modale-mot .conteneur {
	padding: 30px 25px;
}

#modale-mot p {
    font-weight: 700;
}

#modale-mot .actions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#modale-mot .actions .bouton:first-of-type {
	margin-right: 20px;
}

#modale-mot input[type="color"] {
	width: 30px;
	height: 30px;
	margin-right: 20px;
	border: none;
	cursor: pointer;
}

#modale-mot input[type="color"]::-moz-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

#modale-mot input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
	border-radius: 50%;
}

#modale-mot input[type="color"]::-webkit-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

#modale-mot input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
	border-radius: 50%;
}

#modale-mot input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

@media screen and (max-width: 399px) {
	#modale-mot .actions input {
		margin-bottom: 15px;
	}

	#modale-mot .actions .bouton:first-of-type {
		margin-right: 0;
		margin-bottom: 15px;
	}
}
</style>

<style>
#question .question {
	text-align: center;
}

#question .question a {
	color: #00a1e3;
  	text-decoration: underline;
}
</style>
