<template>
	<div id="nuage-de-mots">
		<div id="parametres" class="section">
			<h2>{{ $t('parametres') }}</h2>
			<div class="conteneur-parametres">
				<div class="parametre">
					<h3>{{ $t('casseEtAccents') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('casse-oui')">{{ $t('oui') }}
						<input id="casse-oui" type="radio" name="casse" :checked="options.casse === 'oui'" @change="modifierParametres('casse', 'oui')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('casse-non')">{{ $t('non') }}
						<input id="casse-non" type="radio" name="casse" :checked="options.casse === 'non'" @change="modifierParametres('casse', 'non')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre">
					<h3>{{ $t('nomOuPseudo') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('nom-obligatoire')">{{ $t('obligatoire') }}
						<input id="nom-obligatoire" type="radio" name="nom" :checked="options.nom === 'obligatoire'" @change="modifierParametres('nom', 'obligatoire')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('nom-aleatoire')">{{ $t('aleatoire') }}
						<input id="nom-aleatoire" type="radio" name="nom" :checked="options.nom === 'aleatoire'" @change="modifierParametres('nom', 'aleatoire')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('nom-facultatif')">{{ $t('facultatif') }}
						<input id="nom-facultatif" type="radio" name="nom" :checked="options.nom === 'facultatif'" @change="modifierParametres('nom', 'facultatif')">
						<span class="coche" />
					</label>
				</div>
			</div>
		</div>

		<div id="question" class="section">
			<h2>{{ $t('question') }}</h2>
			<div class="question">
				<div class="conteneur-textarea" :class="{'media': Object.keys(support).length > 0}">
					<TextareaAutosize v-model="question" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('question')" />
				</div>
				<span class="actions" v-if="chargement === 'support'">
					<span class="conteneur-chargement">
						<span class="chargement" />
						<span class="progression">{{ progression }} %</span>
					</span>
				</span>
				<span class="actions" v-else-if="chargement !== 'support' && Object.keys(support).length === 0">
					<span role="button" :tabindex="definirTabIndex()" @click="afficherAjouterMedia" @keydown.enter="afficherAjouterMedia" :title="$t('ajouterSupport')"><i class="material-icons">library_add</i></span>
				</span>
				<span class="actions media" role="button" :tabindex="definirTabIndex()" v-else-if="chargement !== 'support' && Object.keys(support).length > 0 && support.lien && support.lien !== ''" @click="afficherMedia(support.lien, 'video')" @keydown.enter="afficherMedia(support.lien, 'video')" :title="$t('afficherSupport')" :style="{'background-image': 'url(' + support.vignette + ')'}" />
				<span class="actions media" role="button" :tabindex="definirTabIndex()" v-else-if="chargement !== 'support' && Object.keys(support).length > 0 && support.fichier && support.fichier !== '' && support.type === 'image'" @click="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'image')" @keydown.enter="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'image')" :title="$t('afficherSupport')" :style="{'background-image': 'url(/fichiers/' + code + '/' + support.fichier + ')'}" />
				<span class="actions media audio" role="button" :tabindex="definirTabIndex()" v-else-if="chargement !== 'support' && Object.keys(support).length > 0 && support.fichier && support.fichier !== '' && support.type === 'audio'" @click="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'audio')" @keydown.enter="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'audio')" :title="$t('afficherSupport')">
					<span><i class="material-icons">audiotrack</i></span>
				</span>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'ajouter-media'">
			<div id="modale-ajouter-media" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('ajouterMedia') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleAjouterMedia" @keydown.enter="fermerModaleAjouterMedia"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="chargement !== 'support'">
						<label for="champ-lien-video">{{ $t('lienVideo') }}</label>
						<div class="valider">
							<input id="champ-lien-video" type="text" v-model="lien" @keydown.enter="ajouterVideo">
							<span class="bouton-secondaire" role="button" :tabindex="$parent.message === '' ? 0 : -1" :title="$t('valider')" @click="ajouterVideo" @keydown.enter="ajouterVideo"><i class="material-icons">search</i></span>
						</div>
						<div class="separateur"><span>{{ $t('ou') }}</span></div>
						<label>{{ $t('fichierImageAudio') }}</label>
						<label for="selectionner-media" class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('selectionner-media')">{{ $t('selectionnerFichier') }}</label>
						<input id="selectionner-media" type="file" @change="televerserMedia" style="display: none" accept=".jpg, .jpeg, .png, .gif, .mp3, .wav, .m4a, .ogg">
					</div>
					<div class="contenu" v-else>
						<div class="conteneur-chargement">
							<div class="chargement" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'media'">
			<div id="modale-media" class="modale" role="dialog">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleMedia" @keydown.enter="fermerModaleMedia"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img v-if="media.type === 'image'" :src="media.fichier" :alt="media.fichier">
						<audio v-else-if="media.type === 'audio'" controls :src="media.fichier" />
						<div class="video" v-else-if="media.type === 'video'">
							<iframe :src="media.lien" allow="autoplay; fullscreen" />
						</div>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="afficherAjouterMedia" @keydown.enter="afficherAjouterMedia">{{ $t('modifier') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="supprimerMedia" @keydown.enter="supprimerMedia">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import methodes from '#root/components/js/methodes-creer'
import TextareaAutosize from '#root/components/textareaAutosize.vue'

export default {
	name: 'NuageMotsCreer',
	components: {
		TextareaAutosize
	},
	extends: methodes,
	props: {
		hote: String,
		code: String,
		donnees: Object,
		statut: String,
		enregistrement: String
	},
	data () {
		return {
			question: '',
			support: {},
			options: {
				casse: 'non',
				nom: 'facultatif'
			},
			chargement: '',
			modale: '',
			lien: '',
			media: {},
			medias: [],
			corbeille: [],
			progression: 0,
			elementPrecedent: null
		}
	},
	watch: {
		enregistrement: function (valeur) {
			if (valeur === 'enregistrement' || valeur === 'lancement') {
				if (Object.keys(this.support).length > 0 && this.medias.includes(this.support.fichier)) {
					const index = this.medias.indexOf(this.support.fichier)
					this.medias.splice(index, 1)
				}
				this.corbeille.push(...this.medias)
				this.$emit('enregistrement', { question: this.question, support: this.support, options: this.options })
			} else if (valeur === 'termine') {
				this.viderCorbeille()
			}
		}
	},
	created () {
		if (Object.keys(this.donnees).length > 0) {
			this.question = this.donnees.question
			this.support = this.donnees.support
			if (this.donnees.hasOwnProperty('options')) {
				this.options = this.donnees.options
				if (!this.options.hasOwnProperty('nom')) {
					this.options.nom = 'facultatif'
				}
			}
		}
	},
	mounted () {
		this.$nextTick(function () {
			if (this.question === '') {
				document.querySelector('#question textarea').focus()
			}
		}.bind(this))

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('beforeunload', this.quitterPage, false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		modifierParametres (type, valeur) {
			this.options[type] = valeur
		},
		viderCorbeille () {
			axios.post(this.hote + '/api/supprimer-fichiers', {
				code: this.code,
				fichiers: this.corbeille
			}).then(function () {
				this.corbeille = []
				this.medias = []
			}.bind(this))
		},
		quitterPage () {
			if (this.medias.length > 0) {
				axios.post(this.hote + '/api/supprimer-fichiers', {
					code: this.code,
					fichiers: this.medias
				})
			}
		}
	}
}
</script>

<style scoped src="#root/components/css/style-creer.css"></style>
