<template>
	<div id="questionnaire">
		<div id="description" class="section">
			<h2>{{ $t('descriptionEtSupportFacultatifs') }}</h2>
			<div class="description">
				<div class="conteneur-textarea" :class="{'media': Object.keys(support).length > 0}">
					<TextareaAutosize v-model="description" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('description')" />
				</div>
				<span class="actions" v-if="chargement === 'media'">
					<span class="conteneur-chargement">
						<span class="chargement" />
						<span class="progression">{{ progression }} %</span>
					</span>
				</span>
				<span class="actions" v-else-if="chargement !== 'media' && Object.keys(support).length === 0">
					<span role="button" :tabindex="definirTabIndex()" @click="afficherAjouterMedia" @keydown.enter="afficherAjouterMedia" :title="$t('ajouterSupport')"><i class="material-icons">library_add</i></span>
				</span>
				<span class="actions media" v-else-if="chargement !== 'media' && Object.keys(support).length > 0 && support.lien && support.lien !== ''" @click="afficherMedia(support.lien, 'video')"  @keydown.enter="afficherMedia(support.lien, 'video')" :title="$t('afficherSupport')" :style="{'background-image': 'url(' + support.vignette + ')'}" />
				<span class="actions media" role="button" :tabindex="definirTabIndex()" v-else-if="chargement !== 'media' && Object.keys(support).length > 0 && support.fichier && support.fichier !== '' && support.type === 'image'" @click="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'image')" @keydown.enter="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'image')" :title="$t('afficherSupport')" :style="{'background-image': 'url(/fichiers/' + code + '/' + support.fichier + ')'}" />
				<span class="actions media audio" role="button" :tabindex="definirTabIndex()" v-else-if="chargement !== 'media' && Object.keys(support).length > 0 && support.fichier && support.fichier !== '' && support.type === 'audio'" @click="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'audio')" @keydown.enter="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'audio')" :title="$t('afficherSupport')">
					<span><i class="material-icons">audiotrack</i></span>
				</span>
			</div>
		</div>

		<div id="parametres" class="section">
			<h2>{{ $t('parametres') }}</h2>
			<div class="conteneur-parametres">
				<div class="parametre">
					<h3>{{ $t('progression') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('progression-libre')">{{ $t('progressionLibre') }}
						<input id="progression-libre" type="radio" name="progression" :checked="options.progression === 'libre'" @change="modifierParametres('progression', 'libre')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('progression-animateur')">{{ $t('progressionAnimateur') }}
						<input id="progression-animateur" type="radio" name="progression" :checked="options.progression === 'animateur'" @change="modifierParametres('progression', 'animateur')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre">
					<h3>{{ $t('nomOuPseudo') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('nom-obligatoire')">{{ $t('obligatoire') }}
						<input id="nom-obligatoire" type="radio" name="nom" :checked="options.nom === 'obligatoire'" @change="modifierParametres('nom', 'obligatoire')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('nom-aleatoire')">{{ $t('aleatoire') }}
						<input id="nom-aleatoire" type="radio" name="nom" :checked="options.nom === 'aleatoire'" @change="modifierParametres('nom', 'aleatoire')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('nom-facultatif')">{{ $t('facultatif') }}
						<input id="nom-facultatif" type="radio" name="nom" :checked="options.nom === 'facultatif'" @change="modifierParametres('nom', 'facultatif')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre">
					<h3>{{ $t('affichageBonnesReponses') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('reponses-oui')">{{ $t('oui') }}
						<input id="reponses-oui" type="radio" name="reponses" :checked="options.reponses === 'oui'" @change="modifierParametres('reponses', 'oui')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('reponses-utilisateur')">{{ $t('repondantUniquement') }}
						<input id="reponses-utilisateur" type="radio" name="reponses" :checked="options.reponses === 'utilisateur'" @change="modifierParametres('reponses', 'utilisateur')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('reponses-non')">{{ $t('non') }}
						<input id="reponses-non" type="radio" name="reponses" :checked="options.reponses === 'non'" @change="modifierParametres('reponses', 'non')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre" v-if="(options.reponses === 'oui' || options.reponses === 'utilisateur') && options.progression === 'libre'">
					<h3>{{ $t('retroaction') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('retroaction-oui')">{{ $t('oui') }}
						<input id="retroaction-oui" type="radio" name="retroaction" :checked="options.retroaction === true" @change="modifierParametres('retroaction', true)">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('retroaction-non')">{{ $t('non') }}
						<input id="retroaction-non" type="radio" name="retroaction" :checked="options.retroaction === false" @change="modifierParametres('retroaction', false)">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre">
					<h3>{{ $t('pointsPersonnalises') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('points-perso-oui')">{{ $t('oui') }}
						<input id="points-perso-oui" type="radio" name="pointsPersonnalises" :checked="options.pointsPersonnalises === true" @change="modifierParametres('pointsPersonnalises', true)">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('points-perso-non')">{{ $t('non') }}
						<input id="points-perso-non" type="radio" name="pointsPersonnalises" :checked="options.pointsPersonnalises === false" @change="modifierParametres('pointsPersonnalises', false)">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre" v-if="options.progression === 'animateur'">
					<h3>{{ $t('vitesseCalculPoints') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('points-vitesse')">{{ $t('oui') }}
						<input id="points-vitesse" type="radio" name="points" :checked="options.points === 'vitesse'" @change="modifierParametres('points', 'vitesse')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('points-classique')">{{ $t('non') }}
						<input id="points-classique" type="radio" name="points" :checked="options.points === 'classique'" @change="modifierParametres('points', 'classique')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre" v-if="options.progression === 'animateur' && options.points === 'vitesse'">
					<h3 v-if="options.pointsPersonnalises">{{ $t('pointsRetranchesSeconde') }}</h3>
					<h3 v-else>{{ $t('pointsRetranchesSeconde') }} / 1000</h3>
					<input type="number" name="multiplicateur" :value="options.multiplicateur" :min="1" @change="modifierParametres('multiplicateur', $event.target.value)">
				</div>
				<div class="parametre" v-show="options.progression === 'animateur' && options.nom === 'obligatoire'">
					<h3>{{ $t('affichageClassement') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('classement-oui')">{{ $t('oui') }}
						<input id="classement-oui" type="radio" name="classement" :checked="options.classement === true" @change="modifierParametres('classement', true)">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('classement-non')">{{ $t('non') }}
						<input id="classement-non" type="radio" name="classement" :checked="options.classement === false" @change="modifierParametres('classement', false)">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre" v-show="options.progression === 'libre'">
					<h3>{{ $t('modaliteReponse') }}</h3>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('modalite-synchrone')">{{ $t('synchrone') }}
						<input id="modalite-synchrone" type="radio" name="modalite" :checked="options.modalite === 'synchrone'" @change="modifierParametres('modalite', 'synchrone')">
						<span class="coche" />
					</label>
					<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('modalite-asynchrone')">{{ $t('asynchrone') }}
						<input id="modalite-asynchrone" type="radio" name="modalite" :checked="options.modalite === 'asynchrone'" @change="modifierParametres('modalite','asynchrone')">
						<span class="coche" />
					</label>
				</div>
			</div>
		</div>

		<draggable id="questions" v-model="questions" draggable=".accordeon" handle=".poignee-accordeon" filter=".desactive" :animation="150" :scroll="true" :force-fallback="true" @sort="deplacerQuestion">
			<div :id="'accordeon' + indexQ" class="section accordeon" v-for="(q, indexQ) in questions" :key="'accordeon_' + indexQ">
				<div class="conteneur-accordeon">
					<div class="en-tete-accordeon">
						<div class="titre">
							<span class="poignee poignee-accordeon" :class="{'desactive': questions.length === 1}">
								<i class="material-icons">drag_indicator</i>
							</span>
							<span class="titre-question" role="button" :tabindex="definirTabIndex()" @click="gererAccordeon(indexQ)" @keydown.enter="gererAccordeon(indexQ)">
								{{ definirTitre(indexQ) }}
							</span>
						</div>
						<span class="statut" role="button" :tabindex="definirTabIndex()" @click="gererAccordeon(indexQ)" @keydown.enter="gererAccordeon(indexQ)">
							<i class="material-icons" v-if="accordeonOuvert !== indexQ" :title="$t('ouvrir')">add</i>
							<i class="material-icons" v-else :title="$t('fermer')">remove</i>
						</span>
					</div>

					<div class="contenu-accordeon">
						<div :id="'question' + indexQ" class="section" :key="'question_' + indexQ" v-if="accordeonOuvert === indexQ">
							<h2>{{ $t('question') }}</h2>
							<div class="question">
								<div class="conteneur-textarea" :class="{'image': Object.keys(q.support).length > 0}">
									<TextareaAutosize v-model="q.question" :rows="1" :min-height="46" :max-height="94" :item-id="'_' + indexQ" :placeholder="$t('question')" />
								</div>
								<span class="actions" v-if="chargement === 'support' + indexQ">
									<span class="conteneur-chargement">
										<span class="chargement" />
										<span class="progression">{{ progression }} %</span>
									</span>
								</span>
								<span class="actions" v-else-if="chargement !== 'support' + indexQ && Object.keys(q.support).length === 0">
									<label :for="'televerser-support' + indexQ" role="button" :tabindex="definirTabIndex()" @keydown.enter="activerInput('televerser-support' + indexQ)" :title="$t('ajouterImage')"><i class="material-icons">add_photo_alternate</i></label>
									<input :id="'televerser-support' + indexQ" type="file" @change="televerserImage(indexQ, 'support', 'Questionnaire')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
								</span>
								<span class="actions image" role="button" :tabindex="definirTabIndex()" v-else-if="chargement !== 'support' + indexQ && Object.keys(q.support).length > 0" @click="afficherSupport(indexQ, '/fichiers/' + code + '/' + q.support.image)" @keydown.enter="afficherSupport(indexQ, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')" :style="{'background-image': 'url(/fichiers/' + code + '/' + q.support.image + ')'}" />
							</div>
						</div>

						<div :id="'items' + indexQ" class="section" :key="'items_' + indexQ" v-if="accordeonOuvert === indexQ">
							<h2>{{ $t('reponses') }}</h2>
							<div class="options">
								<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('choix-unique' + indexQ)">{{ $t('choixUnique') }}
									<input :id="'choix-unique' + indexQ" type="radio" :name="'option' + indexQ" :checked="q.option === 'choix-unique'" @change="modifierOption($event, indexQ, 'choix-unique')">
									<span class="coche" />
								</label>
								<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('choix-multiples' + indexQ)">{{ $t('choixMultiples') }}
									<input :id="'choix-multiples' + indexQ" type="radio" :name="'option' + indexQ" :checked="q.option === 'choix-multiples'" @change="modifierOption($event, indexQ, 'choix-multiples')">
									<span class="coche" />
								</label>
								<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('texte-court' + indexQ)">{{ $t('texteCourt') }}
									<input :id="'texte-court' + indexQ" type="radio" :name="'option' + indexQ" :checked="q.option === 'texte-court'" @change="modifierOption($event, indexQ, 'texte-court')">
									<span class="coche" />
								</label>
							</div>
							<draggable class="items" v-model="q.items" draggable=".item" handle=".poignee" filter=".desactive" :animation="150" :scroll="true" :force-fallback="true" v-if="q.option !== 'texte-court'">
								<div :id="'item' + indexQ + '_' + index" class="item" v-for="(item, index) in q.items" :key="'item_' + index">
									<span class="poignee" :class="{'desactive': chargement.substring(0, 5) === 'image' || q.items.length === 1}">
										<i class="material-icons">drag_indicator</i>
									</span>
									<span class="reponse">
										<span role="button" :tabindex="definirTabIndex()" v-if="!item.reponse && q.option === 'choix-unique'" @click="selectionnerReponse(indexQ, index)" @keydown.enter="selectionnerReponse(indexQ, index)"><i class="material-icons">radio_button_unchecked</i></span>
										<span role="button" :tabindex="definirTabIndex()" v-else-if="item.reponse && q.option === 'choix-unique'" @click="selectionnerReponse(indexQ, index)" @keydown.enter="selectionnerReponse(indexQ, index)"><i class="material-icons">radio_button_checked</i></span>
										<span role="button" :tabindex="definirTabIndex()" v-else-if="!item.reponse && q.option === 'choix-multiples'" @click="selectionnerReponse(indexQ, index)" @keydown.enter="selectionnerReponse(indexQ, index)"><i class="material-icons">check_box_outline_blank</i></span>
										<span role="button" :tabindex="definirTabIndex()" v-else-if="item.reponse && q.option === 'choix-multiples'" @click="selectionnerReponse(indexQ, index)" @keydown.enter="selectionnerReponse(indexQ, index)"><i class="material-icons">check_box</i></span>
									</span>
									<div class="conteneur-textarea" :class="{'image': item.image !== ''}">
										<TextareaAutosize v-model="item.texte" :rows="1" :min-height="46" :max-height="94" :item-id="'_' + indexQ + '_' + index" :placeholder="$t('choix') + ' ' + (index + 1)" />
									</div>
									<span class="actions" v-if="chargement === 'image' + indexQ + '_' + index">
										<span class="conteneur-chargement">
											<span class="chargement" />
											<span class="progression">{{ progression }} %</span>
										</span>
										<span role="button" :tabindex="definirTabIndex()" :class="{'desactive': q.items.length === 1}" @click="supprimerItem(indexQ, index)" @keydown.enter="supprimerItem(indexQ, index)" :title="$t('supprimerReponse')"><i class="material-icons">delete</i></span>
									</span>
									<span class="actions" v-else-if="chargement !== 'image' + indexQ + '_' + index && item.image === ''">
										<label :for="'televerser-image' + indexQ + '_' + index" role="button" :tabindex="definirTabIndex()" @keydown.enter="activerInput('televerser-image' + indexQ + '_' + index)" :title="$t('ajouterImage')"><i class="material-icons">add_photo_alternate</i></label>
										<input :id="'televerser-image' + indexQ + '_' + index" type="file" @change="televerserImage(indexQ, index, 'Questionnaire')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
										<span role="button" :tabindex="definirTabIndex()" :class="{'desactive': q.items.length === 1}" @click="supprimerItem(indexQ, index)" @keydown.enter="supprimerItem(indexQ, index)" :title="$t('supprimerReponse')"><i class="material-icons">delete</i></span>
									</span>
									<span class="actions" v-else-if="chargement !== 'image' + indexQ + '_' + index && item.image !== ''">
										<span class="image" role="button" :tabindex="definirTabIndex()" @click="afficherImage(indexQ, '/fichiers/' + code + '/' + item.image, index)" @keydown.enter="afficherImage(indexQ, '/fichiers/' + code + '/' + item.image, index)" :title="$t('afficherImage')" :style="{'background-image': 'url(/fichiers/' + code + '/' + item.image + ')'}" />
										<span role="button" :tabindex="definirTabIndex()" :class="{'desactive': q.items.length === 1}" @click="supprimerItem(indexQ, index)" @keydown.enter="supprimerItem(indexQ, index)" :title="$t('supprimerReponse')"><i class="material-icons">delete</i></span>
									</span>
								</div>
							</draggable>
							<div class="reponses conteneur-textarea" v-else>
								<TextareaAutosize v-model="q.reponses" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('reponsesAcceptees')" />
							</div>

							<span :id="'ajouter' + indexQ" class="ajouter" role="button" :tabindex="definirTabIndex()" :title="$t('ajouterReponse')" @click="ajouterItem(indexQ, 'Questionnaire')" @keydown.enter="ajouterItem(indexQ, 'Questionnaire')" v-if="q.items.length < 26 && q.option !== 'texte-court'"><i class="material-icons">add_circle_outline</i></span>
						</div>

						<div :id="'points' + indexQ" class="section" v-if="options.pointsPersonnalises === true">
							<h2>{{ $t('points') }}</h2>
							<input class="points" type="number" :value="q.points" @input="q.points = parseInt($event.target.value)">
						</div>

						<div :id="'retroaction' + indexQ" class="section" v-if="options.retroaction === true" :key="'retroaction_' + indexQ">
							<h2>{{ $t('retroaction') }}</h2>
							<div class="retroaction">
								<label>{{ $t('retroactionCorrecte') }}</label>
								<div class="conteneur-textarea">
									<TextareaAutosize v-model="q.retroaction.correcte" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('retroactionCorrecte')" />
								</div>
								<label>{{ $t('retroactionIncorrecte') }}</label>
								<div class="conteneur-textarea">
									<TextareaAutosize v-model="q.retroaction.incorrecte" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('retroactionIncorrecte')" />
								</div>
							</div>
						</div>

						<div :id="'actions' + indexQ" class="section" :key="'actions_' + indexQ">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" @click="supprimerQuestion(indexQ)" @keydown.enter="supprimerQuestion(indexQ)" v-if="questions.length > 1">{{ $t('supprimer') }}</span>
							<span class="bouton dupliquer" role="button" :tabindex="definirTabIndex()" @click="dupliquerQuestion(indexQ)" @keydown.enter="dupliquerQuestion(indexQ)">{{ $t('dupliquer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</draggable>

		<div class="section">
			<span id="ajouter-question" class="bouton" role="button" :tabindex="definirTabIndex()" @click="ajouterQuestion('Questionnaire')" @keydown.enter="ajouterQuestion('Questionnaire')">{{ $t('ajouterQuestion') }}</span>
		</div>

		<div class="conteneur-modale" v-if="modale === 'ajouter-media'">
			<div id="modale-ajouter-media" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('ajouterMedia') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleAjouterMedia" @keydown.enter="fermerModaleAjouterMedia"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="chargement === ''">
						<label for="champ-lien-video">{{ $t('lienVideo') }}</label>
						<div class="valider">
							<input id="champ-lien-video" type="text" v-model="lien" @keydown.enter="ajouterVideo">
							<span role="button" :tabindex="$parent.message === '' ? 0 : -1" :title="$t('valider')" class="bouton-secondaire" @click="ajouterVideo" @keydown.enter="ajouterVideo"><i class="material-icons">search</i></span>
						</div>
						<div class="separateur"><span>{{ $t('ou') }}</span></div>
						<label>{{ $t('fichierImageAudio') }}</label>
						<label for="selectionner-media" class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('selectionner-media')">{{ $t('selectionnerFichier') }}</label>
						<input id="selectionner-media" type="file" @change="televerserMedia($event, 'Questionnaire')" style="display: none" accept=".jpg, .jpeg, .png, .gif, .mp3, .wav, .m4a, .ogg">
					</div>
					<div class="contenu" v-else>
						<div class="conteneur-chargement">
							<div class="chargement" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'media'">
			<div id="modale-media" class="modale" role="dialog">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleMedia" @keydown.enter="fermerModaleMedia"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img v-if="media.type === 'image'" :src="media.fichier" :alt="media.fichier">
						<audio v-else-if="media.type === 'audio'" controls :src="media.fichier" />
						<div class="video" v-else-if="media.type === 'video'">
							<iframe :src="media.lien" allow="autoplay; fullscreen" />
						</div>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="afficherAjouterMedia" @keydown.enter="afficherAjouterMedia">{{ $t('modifier') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="supprimerMedia" @keydown.enter="supprimerMedia">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'support'">
			<div id="modale-image" class="modale" role="dialog">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleImage" @keydown.enter="fermerModaleImage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="image">
						<div class="actions">
							<label :for="'televerser-support' + indexQuestion" class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('televerser-support' + indexQuestion)">{{ $t('modifier') }}</label>
							<input :id="'televerser-support' + indexQuestion" type="file" @change="televerserImage(indexQuestion, 'support', 'Questionnaire')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="supprimerImage(indexQuestion, 'support')" @keydown.enter="supprimerImage(indexQuestion, 'support')">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'image'">
			<div id="modale-image" class="modale" role="dialog">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleImage" @keydown.enter="fermerModaleImage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="image">
						<div class="actions">
							<label :for="'televerser-image' + indexQuestion + '_' + indexImage" class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('televerser-image' + indexQuestion + '_' + indexImage)">{{ $t('modifier') }}</label>
							<input :id="'televerser-image' + indexQuestion + '_' + indexImage" type="file" @change="televerserImage(indexQuestion, indexImage, 'Questionnaire')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="supprimerImage(indexQuestion, indexImage)" @keydown.enter="supprimerImage(indexQuestion, indexImage)">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import methodes from '#root/components/js/methodes-multi-creer'
import TextareaAutosize from '#root/components/textareaAutosize.vue'
import { VueDraggableNext } from 'vue-draggable-next'

export default {
	name: 'QuestionnaireCreer',
	components: {
		TextareaAutosize,
		draggable: VueDraggableNext
	},
	extends: methodes,
	props: {
		hote: String,
		code: String,
		donnees: Object,
		statut: String,
		enregistrement: String
	},
	data () {
		return {
			description: '',
			support: {},
			options: {
				progression: 'libre',
				nom: 'facultatif',
				reponses: 'oui',
				pointsPersonnalises: false,
				retroaction: false,
				classement: false,
				points: 'classique',
				multiplicateur: 10,
				modalite: 'synchrone'
			},
			questions: [
				{
					question: '',
					support: {},
					option: 'choix-unique',
					items: [{ texte: '', image: '', alt: '', reponse: false }, { texte: '', image: '', alt: '', reponse: false }],
					reponses: '',
					retroaction: { correcte: '', incorrecte: '' },
					points: 1000
				}
			],
			accordeonOuvert: 0,
			indexQuestion: 0,
			chargement: '',
			modale: '',
			image: '',
			indexImage: -1,
			images: [],
			corbeille: [],
			progression: 0,
			lien: '',
			media: {},
			medias: [],
			elementPrecedent: null
		}
	},
	created () {
		if (Object.keys(this.donnees).length > 0) {
			this.description = this.donnees.description
			this.support = this.donnees.support
			this.options = this.donnees.options
			this.questions = this.donnees.questions
			if (this.options.reponses === true) {
				this.options.reponses = 'oui'
			} else if (this.options.reponses === false) {
				this.options.reponses = 'non'
			}
			if (!this.options.hasOwnProperty('points')) {
				this.options.points = 'classique'
			}
			if (!this.options.hasOwnProperty('pointsPersonnalises')) {
				this.options.pointsPersonnalises = false
			}
			if (!this.options.hasOwnProperty('multiplicateur')) {
				this.options.multiplicateur = 10
			}
			if (!this.options.hasOwnProperty('retroaction')) {
				this.options.retroaction = false
			}
			this.questions.forEach(function (question, index) {
				if (!question.hasOwnProperty('reponses')) {
					this.questions[index].reponses = ''
				}
				if (!question.hasOwnProperty('retroaction')) {
					this.questions[index].retroaction = { correcte: '', incorrecte: '' }
				}
				if (!question.hasOwnProperty('points')) {
					this.questions[index].points = 1000
				}
			}.bind(this))
		}
	},
	mounted () {
		this.$nextTick(function () {
			const accordeon = document.querySelector('#accordeon0 .contenu-accordeon')
			accordeon.style.display = 'block'
			if (this.description === '') {
				document.querySelector('#description textarea').focus()
			}
		}.bind(this))

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('beforeunload', this.quitterPage, false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		modifierParametres (type, valeur) {
			this.options[type] = valeur
			if (this.options.nom !== 'obligatoire') {
				this.options.classement = false
			}
			if (this.options.progression === 'libre') {
				this.options.points = 'classique'
				this.options.classement = false
			} else if (this.options.progression === 'animateur') {
				this.options.modalite = 'synchrone'
				this.options.retroaction = false
			}
		},
		modifierOption (event, indexQuestion, option) {
			this.questions[indexQuestion].option = option
			if (option === 'choix-unique') {
				this.questions[indexQuestion].items.forEach(function (item) {
					item.reponse = false
				})
			} else if (option === 'texte-court') {
				this.$nextTick(function () {
					event.target.checked = true
				})
			}
		},
		selectionnerReponse (indexQuestion, indexItem) {
			if (this.questions[indexQuestion].option === 'choix-unique') {
				this.questions[indexQuestion].items.forEach(function (item) {
					item.reponse = false
				})
				this.questions[indexQuestion].items[indexItem].reponse = true
			} else {
				this.questions[indexQuestion].items[indexItem].reponse = !this.questions[indexQuestion].items[indexItem].reponse
			}
		}
	}
}
</script>

<style scoped src="#root/components/css/style-multi-creer.css"></style>
