<template>
	<div id="sondage" :class="{'avec-actions': (options.progression === 'animateur' && (statut === 'attente' || (statut === 'ouvert' && (((description !== '' || Object.keys(support).length > 0) && indexQuestion === -1) || questions.length > 1)))) || (options.progression === 'libre' && ((description !== '' || Object.keys(support).length > 0) || (description === '' && Object.keys(support).length === 0 && questions.length > 1)))}">
		<div id="attente" v-if="statut === 'attente'">
			<h2>{{ $t('sondageEnAttenteDemarrage') }}</h2>
			<div class="info-attente" v-html="$t('infoSondageEnAttenteDemarrage')" />
			<div class="points">
				<span class="point" />
				<span class="point" />
				<span class="point" />
			</div>
			<h2 v-if="options.nom === 'obligatoire'">{{ $t('listeParticipants') }}</h2>
			<div class="utilisateurs-connectes" v-if="options.nom === 'obligatoire' && utilisateurs.length > 0">
				<template v-for="(utilisateur, indexUtilisateur) in utilisateurs">
					<div class="utilisateur" v-if="utilisateur.nom !== '' && utilisateur.connecte !== false" :key="'utilisateur_' + indexUtilisateur">
						<span>{{ utilisateur.nom }}</span>
					</div>
				</template>
			</div>
			<div class="vide" v-else-if="options.nom === 'obligatoire' && utilisateurs.length === 0">
				{{ $t('aucunParticipant') }}
			</div>
		</div>

		<div class="sondage" v-else-if="statut === 'ouvert'">
			<div id="progression" v-if="indexQuestion > -1 && questions.length > 1">
				{{ $t('question') }} {{ indexQuestion + 1 }} / {{ questions.length }}
			</div>
			<div id="progression" v-else-if="indexQuestion === -1 && description !=='' && Object.keys(support).length === 0">
				{{ $t('description') }}
			</div>
			<div id="progression" v-else-if="indexQuestion === -1 && description ==='' && Object.keys(support).length > 0">
				{{ $t('support') }}
			</div>
			<div id="progression" v-else-if="indexQuestion === -1 && description !=='' && Object.keys(support).length > 0">
				{{ $t('descriptionEtSupport') }}
			</div>

			<div id="support" v-if="indexQuestion > -1 && Object.keys(support).length > 0">
				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="afficherMedia" @keydown.enter="afficherMedia">{{ $t('afficherSupport') }}</span>
			</div>

			<div id="description" v-if="description !== '' || Object.keys(support).length > 0" v-show="indexQuestion === -1">
				<div class="description" v-if="description !== ''" v-html="verifierLien(description)" />

				<div class="support" v-if="Object.keys(support).length > 0">
					<img role="button" :tabindex="definirTabIndex()" v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)">
					<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
					<div class="video" v-else-if="support.type === 'video'">
						<iframe :src="support.lien" allow="autoplay; fullscreen" />
					</div>
				</div>
			</div>

			<div id="questions" :class="{'avec-progression': indexQuestion > -1 && questions.length > 1}">
				<TransitionGroup name="fondu">
					<div class="q" v-for="(q, indexQ) in questions" v-show="indexQuestion === indexQ" :key="'q_' + indexQ">
						<div :id="'question' + indexQ">
							<div class="question-et-support" v-if="q.question !== '' && Object.keys(q.support).length > 0">
								<span class="question" v-html="verifierLien(q.question)" />
								<span class="support" role="button" :tabindex="definirTabIndex()" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt"></span>
							</div>
							<div class="question" v-else-if="q.question !== ''" v-html="verifierLien(q.question)" />
							<div class="support" v-else-if="Object.keys(q.support).length > 0">
								<img role="button" :tabindex="definirTabIndex()" :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')">
							</div>
						</div>

						<div :id="'items' + indexQ" class="items resultats" v-if="resultats && !classementResultats && q.option !== 'texte-court'">
							<template v-for="(item, index) in q.items">
								<div :id="'item' + indexQ + '_' + index" class="item" :class="{'reponse': statistiques[indexQ].pourcentages[index] > 0}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + indexQ + '_' + index">
									<div class="progression" :style="{'width': statistiques[indexQ].pourcentages[index] + '%'}" />
									<div class="contenu">
										<span class="index">{{ alphabet[index].toUpperCase() }}</span>
										<span class="image" role="button" :tabindex="definirTabIndex()" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
										<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
									</div>
									<div class="statistiques">
										<span class="personnes curseur" role="button" :tabindex="definirTabIndex()" @click="afficherModaleListe(statistiques[indexQ].liste[index])" @keydown.enter="afficherModaleListe(statistiques[indexQ].liste[index])" v-if="options.nom === 'obligatoire' && statistiques[indexQ].personnes[index] > 0">{{ statistiques[indexQ].personnes[index] }} <i class="material-icons">person</i></span>
										<span class="personnes" v-else>{{ statistiques[indexQ].personnes[index] }} <i class="material-icons">person</i></span>
										<span class="pourcentages">{{ statistiques[indexQ].pourcentages[index] }}%</span>
									</div>
								</div>
							</template>
						</div>
						<div :id="'items' + indexQ" class="items resultats" v-else-if="resultats && classementResultats && q.option !== 'texte-court'">
							<template v-for="(item, index) in itemsClasses">
								<div :id="'item' + indexQ + '_' + index" class="item" :class="{'reponse': item.pourcentages > 0}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + indexQ + '_' + index">
									<div class="progression" :style="{'width': item.pourcentages + '%'}" />
									<div class="contenu">
										<span class="index">{{ item.alphabet.toUpperCase() }}</span>
										<span class="image" role="button" :tabindex="definirTabIndex()" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
										<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
									</div>
									<div class="statistiques">
										<span class="personnes curseur" role="button" :tabindex="definirTabIndex()" @click="afficherModaleListe(item.liste)" @keydown.enter="afficherModaleListe(item.liste)" v-if="options.nom === 'obligatoire' && item.liste.length > 0">{{ item.personnes }} <i class="material-icons">person</i></span>
										<span class="personnes" v-else>{{ item.personnes }} <i class="material-icons">person</i></span>
										<span class="pourcentages">{{ item.pourcentages }}%</span>
									</div>
								</div>
							</template>
						</div>
						<div :id="'items' + indexQ" class="items" v-else-if="!resultats && q.option !== 'texte-court'">
							<div :id="'item' + indexQ + '_' + index" class="item" v-for="(item, index) in q.items" :key="'item_' + indexQ + '_' + index">
								<span class="index">{{ alphabet[index].toUpperCase() }}</span>
								<span class="image" role="button" :tabindex="definirTabIndex()" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
								<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
							</div>
						</div>
						<div :id="'items' + indexQ" class="items resultats" v-else-if="resultats && !classementResultats && q.option === 'texte-court'">
							<template v-for="(item, index) in definirItemsTexte(indexQ)">
								<div :id="'item' + indexQ + '_' + index" class="item" :class="{'reponse': statistiques[indexQ].pourcentages[index] > 0}" v-if="item.texte !== ''" :key="'item_' + indexQ + '_' + index">
									<div class="progression" :style="{'width': statistiques[indexQ].pourcentages[index] + '%'}" />
									<div class="contenu">
										<span class="index">{{ index + 1 }}</span>
										<span class="texte">{{ item.texte }}</span>
									</div>
									<div class="statistiques">
										<span class="personnes curseur" role="button" :tabindex="definirTabIndex()" @click="afficherModaleListe(statistiques[indexQ].liste[index])" @keydown.enter="afficherModaleListe(statistiques[indexQ].liste[index])" v-if="options.nom === 'obligatoire' && statistiques[indexQ].personnes[index] > 0">{{ statistiques[indexQ].personnes[index] }} <i class="material-icons">person</i></span>
										<span class="personnes" v-else>{{ statistiques[indexQ].personnes[index] }} <i class="material-icons">person</i></span>
										<span class="pourcentages">{{ statistiques[indexQ].pourcentages[index] }}%</span>
									</div>
								</div>
							</template>
						</div>
						<div :id="'items' + indexQ" class="items resultats" v-else-if="resultats && classementResultats && q.option === 'texte-court'">
							<template v-for="(item, index) in itemsClasses">
								<div :id="'item' + indexQ + '_' + index" class="item" :class="{'reponse': item.pourcentages > 0}" v-if="item.texte !== ''" :key="'item_' + indexQ + '_' + index">
									<div class="progression" :style="{'width': item.pourcentages + '%'}" />
									<div class="contenu">
										<span class="index">{{ index + 1 }}</span>
										<span class="texte">{{ item.texte }}</span>
									</div>
									<div class="statistiques">
										<span class="personnes curseur" role="button" :tabindex="definirTabIndex()" @click="afficherModaleListe(item.liste)" @keydown.enter="afficherModaleListe(item.liste)" v-if="options.nom === 'obligatoire' && item.liste.length > 0">{{ item.personnes }} <i class="material-icons">person</i></span>
										<span class="personnes" v-else>{{ item.personnes }} <i class="material-icons">person</i></span>
										<span class="pourcentages">{{ item.pourcentages }}%</span>
									</div>
								</div>
							</template>
						</div>
						<div :id="'items' + indexQ" class="items" v-else-if="!resultats && q.option === 'texte-court'">
							<div :id="'item' + indexQ + '_' + index" class="item" v-for="(item, index) in definirItemsTexte(indexQ)" :key="'item_' + indexQ + '_' + index">
								<span class="index">{{ index + 1 }}</span>
								<span class="texte">{{ item.texte }}</span>
							</div>
						</div>
					</div>
				</TransitionGroup>
			</div>
		</div>

		<div id="actions" v-if="options.progression === 'animateur' && (statut === 'attente' || (statut === 'ouvert' && (((description !== '' || Object.keys(support).length > 0) && indexQuestion === -1) || questions.length > 1)))">
			<div class="section">
				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="$emit('demarrer')" @keydown.enter="$emit('demarrer')" v-if="statut === 'attente'">{{ $t('demarrerSondage') }}</span>

				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="modifierIndexQuestion('suivant')" @keydown.enter="modifierIndexQuestion('suivant')" v-if="statut === 'ouvert' && indexQuestion < (questions.length - 1)">{{ $t('suivant') }}</span>

				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="afficherModaleQuestion" @keydown.enter="afficherModaleQuestion" v-if="statut === 'ouvert' && indexQuestion === (questions.length - 1)">{{ $t('afficherResultats') }}</span>
			</div>
		</div>
		<div id="actions" v-else-if="options.progression === 'libre' && ((description !== '' || Object.keys(support).length > 0) || (description === '' && Object.keys(support).length === 0 && questions.length > 1))">
			<div class="section">
				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="modifierIndexQuestion('precedent')" @keydown.enter="modifierIndexQuestion('precedent')" v-if="statut === 'ouvert' && indexQuestion > -1 && (description !== '' || Object.keys(support).length > 0)">{{ $t('precedent') }}</span>

				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="modifierIndexQuestion('precedent')" @keydown.enter="modifierIndexQuestion('precedent')" v-else-if="statut === 'ouvert' && indexQuestion > 0 && description === '' && Object.keys(support).length === 0">{{ $t('precedent') }}</span>

				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="modifierIndexQuestion('suivant')" @keydown.enter="modifierIndexQuestion('suivant')" v-if="statut === 'ouvert' && indexQuestion < (questions.length - 1)">{{ $t('suivant') }}</span>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modaleQuestion">
			<div id="modale-question" class="modale" role="dialog">
				<header>
					<span class="titre" v-if="indexQuestionModale === -1 && description !== '' && Object.keys(support).length === 0">{{ $t('description') }}</span>
					<span class="titre" v-else-if="indexQuestionModale === -1 && description === '' && Object.keys(support).length > 0">{{ $t('support') }}</span>
					<span class="titre" v-else-if="indexQuestionModale === -1 && description !== '' && Object.keys(support).length > 0">{{ $t('descriptionEtSupport') }}</span>
					<span class="titre" v-else>{{ $t('question') }} {{ indexQuestionModale + 1 }}</span>
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleQuestion" @keydown.enter="fermerModaleQuestion"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="indexQuestionModale > -1">
						<div id="m_questions">
							<TransitionGroup name="fondu">
								<div class="m_q" v-for="(q, indexQ) in questions" v-show="indexQuestionModale === indexQ" :key="'m_q_' + indexQ">
									<div :id="'m_question' + indexQ">
										<div class="question-et-support" v-if="q.question !== '' && Object.keys(q.support).length > 0">
											<span class="question" v-html="verifierLien(q.question)" />
											<span class="support" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt"></span>
										</div>
										<div class="question" v-else-if="q.question !== ''" v-html="verifierLien(q.question)" />
										<div class="support" v-else-if="Object.keys(q.support).length > 0">
											<img role="button" :tabindex="$parent.message === '' ? 0 : -1" :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')">
										</div>
									</div>

									<div id="m_items" class="items resultats">
										<div :id="'m_item' + indexQ + '_' + index" class="item" :class="{'reponse': item.pourcentages > 0}" v-for="(item, index) in itemsClassesModale" :key="'m_item' + indexQ + '_' + index">
											<div class="progression" :style="{'width': item.pourcentages + '%'}" />
											<div class="contenu" v-if="q.option !== 'texte-court'">
												<span class="index">{{ item.alphabet.toUpperCase() }}</span>
												<span class="image" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
												<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
											</div>
											<div class="contenu" v-else>
												<span class="index">{{ index + 1 }}</span>
												<span class="texte">{{ item.texte }}</span>
											</div>
											<div class="statistiques">
												<span class="personnes" :title="definirListe(item.liste)" v-if="options.nom === 'obligatoire' && item.liste.length > 0">{{ item.personnes }} <i class="material-icons">person</i></span>
												<span class="personnes" v-else>{{ item.personnes }} <i class="material-icons">person</i></span>
												<span class="pourcentages">{{ item.pourcentages }}%</span>
											</div>
										</div>
									</div>
								</div>
							</TransitionGroup>
						</div>
					</div>
					<div class="contenu" v-else>
						<div id="m_description">
							<div class="description" v-if="description !== ''" v-html="verifierLien(description)" />
							<div class="support" v-if="Object.keys(support).length > 0">
								<img role="button" :tabindex="$parent.message === '' ? 0 : -1" v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)" @keydown.enter="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)">
								<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
								<div class="video" v-else-if="support.type === 'video'">
									<iframe :src="support.lien" allow="autoplay; fullscreen" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="footer">
					<span class="bouton icone" role="button" :tabindex="$parent.message === '' ? 0 : -1" :class="{'invisible': (indexQuestionModale === -1 && (description !== '' || Object.keys(support).length > 0)) || (indexQuestionModale === 0 && description === '' && Object.keys(support).length === 0)}" :title="$t('questionPrecedente')" @click="modifierIndexQuestionModale('precedente')" @keydown.enter="modifierIndexQuestionModale('precedente')"><i class="material-icons">arrow_back</i></span>

					<span class="bouton icone" role="button" :tabindex="$parent.message === '' ? 0 : -1" :class="{'invisible': indexQuestionModale === (donnees.questions.length - 1)}" :title="$t('questionSuivante')" @click="modifierIndexQuestionModale('suivante')" @keydown.enter="modifierIndexQuestionModale('suivante')"><i class="material-icons">arrow_forward</i></span>
				</footer>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'liste'">
			<div id="modale-liste" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('listeRepondants') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleListe" @keydown.enter="fermerModaleListe"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="liste">
							{{ liste }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'image'">
			<div id="modale-image" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="image">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleImage" @keydown.enter="fermerModaleImage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'media'">
			<div id="modale-media" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<img v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.fichier">
						<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
						<div class="video" v-else-if="support.type === 'video'">
							<iframe :src="support.lien" allow="autoplay; fullscreen" />
						</div>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.message === '' ? 0 : -1" @click="fermerModaleMedia" @keydown.enter="fermerModaleMedia">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import linkifyHtml from 'linkify-html'
import methodes from '#root/components/js/methodes-multi-afficher'

export default {
	name: 'SondageAfficher',
	extends: methodes,
	props: {
		hote: String,
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		resultats: Boolean,
		utilisateurs: Array,
		classementResultats: Boolean,
		indexQuestion: Number
	},
	data () {
		return {
			description: '',
			support: {},
			options: {},
			questions: [],
			modale: '',
			image: '',
			alphabet: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
			modaleQuestion: false,
			indexQuestionModale: -1,
			liste: '',
			elementPrecedent: null
		}
	},
	computed: {
		statistiques () {
			const statistiques = []
			this.questions.forEach(function (question, indexQuestion) {
				const personnes = []
				const pourcentages = []
				const liste = []
				if (question.option !== 'texte-court') {
					for (let i = 0; i < question.items.length; i++) {
						personnes.push(0)
						pourcentages.push(0)
						liste.push([])
					}
					question.items.forEach(function (item, index) {
						let reponses = 0
						const utilisateurs = []
						this.reponses.forEach(function (donnees) {
							if (this.donnees.hasOwnProperty('questions')) {
								donnees.reponse[indexQuestion].forEach(function (reponse) {
									if (reponse === item.texte || reponse === item.image) {
										reponses++
										utilisateurs.push(donnees.identifiant)
									}
								})
							} else if (this.donnees.hasOwnProperty('question')) {
								donnees.reponse.forEach(function (reponse) {
									if (reponse === item.texte || reponse === item.image) {
										reponses++
										utilisateurs.push(donnees.identifiant)
									}
								})
							}
						}.bind(this))
						if (reponses > 0) {
							personnes[index] = reponses
							const pourcentage = (reponses / this.reponses.length) * 100
							pourcentages[index] = Math.round(pourcentage)
							liste[index] = utilisateurs
						}
					}.bind(this))
				} else {
					let items = []
					this.reponses.forEach(function (donnees) {
						donnees.reponse[indexQuestion].forEach(function (reponse) {
							if (!items.includes(reponse.toString().trim())) {
								items.push(reponse.toString().trim())
							}
						})
					})
					for (let i = 0; i < items.length; i++) {
						personnes.push(0)
						pourcentages.push(0)
						liste.push([])
					}
					items.forEach(function (item, index) {
						let reponses = 0
						const utilisateurs = []
						this.reponses.forEach(function (donnees) {
							if (this.donnees.hasOwnProperty('questions')) {
								donnees.reponse[indexQuestion].forEach(function (reponse) {
									if (item === reponse.toString().trim()) {
										reponses++
										utilisateurs.push(donnees.identifiant)
									}
								})
							} else if (this.donnees.hasOwnProperty('question')) {
								donnees.reponse.forEach(function (reponse) {
									if (item === reponse.toString().trim()) {
										reponses++
										utilisateurs.push(donnees.identifiant)
									}
								})
							}
						}.bind(this))
						if (reponses > 0) {
							personnes[index] = reponses
							const pourcentage = (reponses / this.reponses.length) * 100
							pourcentages[index] = Math.round(pourcentage)
							liste[index] = utilisateurs
						}
					}.bind(this))
				}
				statistiques.push({ personnes: personnes, pourcentages: pourcentages, liste: liste })
			}.bind(this))
			return statistiques
		},
		itemsClasses () {
			let items = JSON.parse(JSON.stringify(this.questions[this.indexQuestion].items))
			if (this.questions[this.indexQuestion].option === 'texte-court') {
				items = this.definirItemsTexte(this.indexQuestion)
			}
			items.forEach(function (item, index) {
				item.personnes = this.statistiques[this.indexQuestion].personnes[index]
				item.pourcentages = this.statistiques[this.indexQuestion].pourcentages[index]
				item.liste = this.statistiques[this.indexQuestion].liste[index]
				item.alphabet = this.alphabet[index]
			}.bind(this))
			items.sort(function (a, b) {
				return b.personnes - a.personnes
			})
			return items
		},
		itemsClassesModale () {
			let items = JSON.parse(JSON.stringify(this.questions[this.indexQuestionModale].items))
			if (this.questions[this.indexQuestionModale].option === 'texte-court') {
				items = this.definirItemsTexte(this.indexQuestionModale)
			}
			items.forEach(function (item, index) {
				item.personnes = this.statistiques[this.indexQuestionModale].personnes[index]
				item.pourcentages = this.statistiques[this.indexQuestionModale].pourcentages[index]
				item.liste = this.statistiques[this.indexQuestionModale].liste[index]
				item.alphabet = this.alphabet[index]
			}.bind(this))
			items.sort(function (a, b) {
				return b.personnes - a.personnes
			})
			return items
		}
	},
	created () {
		if (Object.keys(this.donnees).length > 0 && this.donnees.hasOwnProperty('questions')) {
			this.description = this.donnees.description
			this.support = this.donnees.support
			this.options = this.donnees.options
			this.questions = this.donnees.questions
		} else if (Object.keys(this.donnees).length > 0 && this.donnees.hasOwnProperty('question')) { // compatibilité avec l'ancien type de sondage
			this.questions = []
			this.questions.push(this.donnees)
			this.$emit('index', 0)
		}
	},
	mounted () {
		this.$nextTick(function () {
			window.MathJax.typeset()
		})

		document.addEventListener('keydown', this.gererClavier, false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirItemsTexte (indexQuestion) {
			const items = []
			this.reponses.forEach(function (donnees) {
				if (this.donnees.hasOwnProperty('questions')) {
					donnees.reponse[indexQuestion].forEach(function (reponse) {
						if (!items.map(function (e) { return e.texte }).includes(reponse.toString().trim())) {
							items.push({ texte: reponse.toString().trim() })
						}
					})
				} else if (this.donnees.hasOwnProperty('question')) {
					donnees.reponse.forEach(function (reponse) {
						if (!items.map(function (e) { return e.texte }).includes(reponse.toString().trim())) {
							items.push({ texte: reponse.toString().trim() })
						}
					})
				}
			}.bind(this))
			return items
		},
		modifierIndexQuestion (direction) {
			let indexQuestion
			if (direction === 'suivant') {
				indexQuestion = this.indexQuestion + 1
			} else {
				indexQuestion = this.indexQuestion - 1
			}
			this.$emit('index', indexQuestion)
			this.$nextTick(function () {
				window.MathJax.typeset()
			})
		},
		afficherModaleQuestion () {
			if (this.description === '' && Object.keys(this.support).length === 0) {
				this.indexQuestionModale = 0
			} else {
				this.indexQuestionModale = -1
			}
			this.elementPrecedent = (document.activeElement || document.body)
			this.modaleQuestion = true
			this.$emit('modale', true)
			this.$nextTick(function () {
				window.MathJax.typeset()
				document.querySelector('#modale-question .fermer').focus()
			})
		},
		fermerModaleQuestion () {
			this.modaleQuestion = false
			this.indexQuestionModale = -1
			this.$emit('modale', false)
			this.gererFocus()
		},
		modifierIndexQuestionModale (direction) {
			if (direction === 'precedente') {
				this.indexQuestionModale--
			} else if (direction === 'suivante') {
				this.indexQuestionModale++
			}
			this.$nextTick(function () {
				window.MathJax.typeset()
			})
		},
		verifierLien (item) {
			let html = ''
			if (item !== '') {
				html = linkifyHtml(item, {
					defaultProtocol: 'https',
					target: '_blank'
				})
			}
			return html
		}
	}
}
</script>

<style scoped src="#root/components/css/style-multi-afficher.css"></style>

<style>
#description .description a,
#questions .question a {
	color: #00a1e3;
  	text-decoration: underline;
}

#attente .info-attente p {
	margin-bottom: 5px;
}

#attente .info-attente p:last-child {
	margin-bottom: 0;
}

#m_questions .m_q {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #fff;
}

#m_description .video iframe {
	width: 400px;
	height: 225px;
}

@media screen and (max-width: 359px) {
	#m_description .video iframe {
		width: 240px;
		height: 135px;
	}
}

@media screen and (min-width: 360px) and (max-width: 499px) {
	#m_description .video iframe {
		width: 280px;
		height: 158px;
	}
}
</style>
